# NOTE: actually used file needs to be named ".env" and not ".env.local". The latter is a Next.js convention.

# For connecting to Supabase via connection pooling
DATABASE_URL=
# For direct connection to the database. Used for migrations
DIRECT_URL=
SUPABASE_PROJECT_URL=
SUPABASE_SECRET_KEY=
PORT=3001
